.pContainer {
  width: 90vw;
  height: 60vh;
  margin: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  .pItem {
    width: 20vw;
    height: 100%;
    margin: 10px;
    display: flex;
    border-radius: 25px;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    transition: 0.2s all ease;
    -webkit-box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.75);
box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.75);
    .pItemImg {
      z-index: -1;
      display: flex;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .pItemText {
      bottom: 2vh;
      position: absolute;
      .pItemName {
        text-align: center;
        background-color: rgba($color: #00000027, $alpha:0.3);
        width: 100%;
        text-shadow: 1px 1px #000;
      }
      .pItemDesribe {
        display: none;
      }
    }
  }
  .pItem:hover {
    width: 30vw;
    transition: 0.2s all ease;
    cursor: pointer;
  }
}
