.pContainer {
  width: 100vw;
  height: 60vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
}

.pItem {
  perspective: 500px;
  margin: 5vh 0;
}

.card {
  width: 250px;
  height: 300px;
  background: #16161d;
  border-radius: 14px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 18px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 18px -3px rgba(0, 0, 0, 0.75);
}

.card img {
  width: 250px;
  height: 300px;
  display: flex;
  object-fit: cover;
  border-radius: 14px;
}

.card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title {
  color: #fff;
  position: absolute;
  top: 95%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform 0.5s;
  font: 700 1.5rem monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card:hover .card_title {
  transform: translateZ(50px);
}

